<div class="modal data-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog model-dialog-question" style="width: 450px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> 編輯</h4>
            </div>
            <div class="modal-body" style="height:120px">
                <label for="id_vender" class="col-md-6 col-lg-6 control-label">日程內容</label>
                <div class="col-md-21 col-lg-21">
                    <input id="dataTitle" name="dataTitle" style="width:200px" readonly />
                </div>
                <br />
                <label for="id_vender" class="col-md-6 col-lg-6 control-label">開始日期</label>
                <div class="col-md-21 col-lg-21">
                    <input id="dataStart" name="dataStart" readonly />
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link" id="del">刪除</a>
                <button type="button" class="btn btn-link" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
