<div class='modal fade QuestionList_D-modal' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'>欄位新增</h4>
            </div>
            <div class='modal-body'>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="id_QuestionList_DRemark" class="control-label col-sm-4">欄位代號</label>
                        <div class="col-sm-20">
                            <input type="text" class="form-control" id="id_txtColumnNo" name="txtColumnNo" maxlength="255" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_QuestionList_DRemark" class="control-label col-sm-4">欄位名稱</label>
                        <div class="col-sm-20">
                            <input type="text" class="form-control" id="id_txtColumnName" name="txtColumnName" maxlength="60" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="id_QuestionList_DRemark" class="control-label col-sm-4">型態</label>
                        <div class="col-sm-20">
                            <input type="text" class="form-control" id="id_txtDataType" name="txtDataType" maxlength="60" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_QuestionList_DRemark" class="control-label col-sm-4">長度</label>
                        <div class="col-sm-20">
                            <input type="text" class="form-control" id="id_txtColLength" name="txtColLength" maxlength="60" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_QuestionList_DRemark" class="control-label col-sm-4">欄位說明</label>
                        <div class="col-sm-20">
                            <textarea class="form-control" id="id_txtRemark" name="txtRemark" cols="40" rows="5" maxlength="255"></textarea>
                        </div>
                    </div>
                </form>
            </div>               
            <div class='modal-footer'>
                <button type="button" class="btn btn-default" name="action" value="btnAllot" onclick="check()">確定</button>
                <button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>
            </div>
        </div>
    </div>
</div>

