
<div class='modal fade BOM_DExit-modal' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'>商品資料</h4>
            </div>
            <div class='modal-body'>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="id_BOM_DExitItemNo" class="control-label col-sm-4">項次</label>
                        <div class="col-sm-20">
                            <input type="text" class="form-control" id="id_BOM_DExitItemNo" name="BOM_DExitItemNo" maxlength="40" readonly />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="id_BOM_DExitComponentNo" class="control-label col-sm-4">元件品號</label>
                        <div class="col-sm-20">
                            <input type="text" class="form-control" id="id_BOM_DExitComponentNo" name="BOM_DExitComponentNo" style="width: 90%; display: inline;" />
                            <button type="button" class="btn btn-default" id="btnExitComponentNo" aria-label="Left Align" style="display: inline;">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_BOM_DExitProductName" class="control-label col-sm-4">品名</label>
                        <div class="col-sm-20">
                            <input type="text" class="form-control" id="id_BOM_DExitProductName" name="BOM_DExitProductName" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_BOM_DExitSpecification" class="control-label col-sm-4">規格</label>
                        <div class="col-sm-20">
                            <input type="text" class="form-control" id="id_BOM_DExitSpecification" name="BOM_DExitSpecification" readonly />
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label for="id_BOM_DExitUnit" class="control-label col-sm-4">單位</label>
                        <div class="col-sm-20">
                            <input type="text" class="form-control" id="id_BOM_DExitUnit" name="BOM_DExitUnit" readonly />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="id_BOM_DExitQTY" class="control-label col-sm-4">組成用量</label>
                        <div class="col-sm-20">
                            <input type="text" class="form-control" id="id_BOM_DExitQTY" name="BOM_DExitQTY" maxlength="12" onblur="if(isNaN(this.value))this.value=''" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="id_BOM_DExitRemark" class="control-label col-sm-4">備註</label>
                        <div class="col-sm-20">
                            <textarea class="form-control" id="id_BOM_DExitRemark" name="id_BOM_DExitRemark" cols="40" rows="5" maxlength="255"></textarea>
                        </div>
                    </div>  
                </div>
            </div>
            <div class='modal-footer'>
                <button type="button" class="btn btn-default" name="action" value="btnAllot" onclick="checkExit()">確定</button>
                <button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>
            </div>
        </div>
    </div>
</div>
