body{
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #eee;
}
	    		
.form-signin{
	max-width: 450px;
	margin: 0 auto;
}

.form-signin #id_password{
	margin-top: 5px;
}

.form-signin #id_client{
	margin-top: 5px;
}