<div class="modal msg-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog model-dialog-question" style="width: 450px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> 提示訊息</h4>
            </div>
            <div class="modal-body">
                <p id="msg_information"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal" aria-label="Close">確定</button>
            </div>
        </div>
    </div>
</div>
