<div class='modal fade number-detail-modals' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class='modal-title'>序號明細</h4>
            </div>
            <div class='modal-body'>
                <span style="display:inline;visibility:hidden;" id="id_OrderTypes"></span>
                <span style="display:inline;visibility:hidden;" id="id_OrderNos" ></span>
                <span style="display:inline;visibility:hidden;" id="id_ItemIds" ></span>

                <label for="id_customertype" class="control-label col-sm-12">品號：<span style="display:inline;" id="id_ProductNos"></span></label>
                
                
                <label for="id_customertype" class="control-label col-sm-12">品名：<span style="display:inline;" id="id_ProductNames"></span></label>
                
                <br/>
                <label for="id_customertype" class="control-label col-sm-12">數量：<span style="display:inline;" id="id_QTYs"></span></label>
                
                <label for="id_customertype" class="control-label col-sm-12">序號數量：<span style="display:inline;" id="id_SerialQTYs"></span></label>
                
                <hr/>
                <br/>
                <div id="divProductSerialGrid" style="height: 500px;overflow-y: auto;">
                    <table class="table table-striped table-hover table-condensed" data-swhgajax="true" data-swhgcontainer="divProductSerialGrid" data-swhgcallback="">
                        <thead>
                            <tr>
                                <th scope="col">
                                    動作
                                </th>
                                <th scope="col">
                                    項次
                                </th>
                                <th scope="col">
                                    序號
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                </div>
            <div class='modal-footer'>
            </div>
        </div>
    </div>
</div>