<style type="text/css">
    .record_selector_RGA-modal table .actioncolumn {
        width: 200px;
    }

    .record_selector_RGA-modal table .RGATypeType {
        width: 200px;
    }
    .record_selector_RGA-modal table .OrderSNameType {
        width: 200px;
    }
    .record_selector_RGA-modal table .RGANoType {
        width: 200px;
    }
    .record_selector_RGA-modal table .OrderDateType {
        width: 200px;
    }
    .record_selector_RGA-modal table .CustomerIdType {
        width: 200px;
    }
    .record_selector_RGA-modal table .CustomerNameType {
        width: 200px;
    }
    .record_selector_RGA-modal table .CustomerTypeType {
        width: 200px;
    }
    .record_selector_RGA-modal table .AddressSNameType {
        width: 200px;
    }
    .record_selector_RGA-modal table .ProductNoType {
        width: 200px;
    }
    .record_selector_RGA-modal table .ProductNameType {
        width: 200px;
    }
    .record_selector_RGA-modal table .SerialNoType {
        width: 200px;
    }
    .record_selector_RGA-modal table .StatusCodeType {
        width: 200px;
    }
    .record_selector_RGA-modal table .ReturnedType {
        width: 200px;
    }
    .record_selector_RGA-modal table .RepairmanNameType {
        width: 200px;
    }
    .record_selector_RGA-modal table .RemarkType {
        width: 200px;
    }
    .record_selector_RGA-modal table .PCompletionDateType {
        width: 200px;
    }
</style>
<div class='modal fade record_selector_RMAApl_modal' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class='modal-title'>單號查詢</h4>
            </div>
            <div class='modal-body'>
                <div class="form-inline">
                    <div class="form-group">
                        @*<label for="txtRMAAplType" class="control-label">單別</label>
            <input type="text" class="form-control" id="txtRMAAplType" name="txtRMAAplType" style="width: 200px; display: inline;" />
            <label for="txtRMAAplNo" class="control-label">單號</label>
            <input type="text" class="form-control" id="txtRMAAplNo" name="txtRMAAplNo" style="width: 200px; display: inline;" />*@

                        <select class="form-control" style="width: 200px; display: inline;" name="addCol" id="addCol">
                            <option value="RMAAplType">原廠申請單別</option>
                            <option value="RMAAplNo">原廠申請單號</option>
                            <option value="OrderDate">單據日期</option>
                            <option value="Version">版次</option>
                            <option value="NoOfPrints">列印次數</option>
                            <option value="SourceOrderType">來源單別</option>
                            <option value="SourceOrderNo">來源單號</option>
                            <option value="CustomerId">客戶代號</option>
                            <option value="ProductNo">品號</option>
                            <option value="ProductName">品名</option>
                            <option value="SerialNo">序號</option>
                            <option value="VendorWarrantyStartDate">原廠保固起始日</option>
                            <option value="VendorWarrantyExpiryDate">原廠保固到期日</option>
                            <option value="UnderWarranty">客戶保固內</option>
                            <option value="WarrantyStartDate">客戶保固起始日</option>
                            <option value="WarrantyExpiryDate">客戶保固到期日</option>
                            <option value="Confirmed">確認碼</option>
                            <option value="Closed">結案碼</option>
                            <option value="StatusCode">狀態碼</option>
                            <option value="OptionDetail">配件說明</option>
                            <option value="Remark">入件說明</option>
                            <option value="TestResult">檢測結果</option>
                            <option value="Returned">覆修否</option>
                        </select>

                        <select class="form-control" style="width: 100px; display: inline;" name="addCondition" id="addCondition">
                            <option value="=">=</option>
                            <option value=">">&gt;</option>
                            <option value=">=">&gt;=</option>
                            <option value="<">&lt;</option>
                            <option value="<=">&lt;=</option>
                            <option value="<>">&lt;&gt;</option>
                            <option value="like%">like%</option>
                            <option value="%like">%like</option>
                            <option value="%like%">%like%</option>
                        </select>
                        <input type="text" class="form-control" id="addconditionValue" name="addconditionValue" style="width: 200px; display: inline;" />
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" id="btnSearchRMAApl" style="display: inline;">查詢</button>
                    </div>
                </div>
            </div>
                <div id="divRMAAplGrid" style="height: 500px;overflow-y: auto;">
                    <table class="table table-striped table-hover table-condensed" data-swhgajax="true" data-swhgcontainer="divRMAAplGrid" data-swhgcallback="">
                        <thead>
                            <tr>
                                <th scope="col">
                                </th>
                                <th scope="col">
                                    單別
                                </th>
                                <th scope="col">
                                    單據名稱
                                </th>
                                <th scope="col">
                                    單號
                                </th>
                                <th scope="col">
                                    單據日期
                                </th>
                                <th scope="col">
                                    客戶代號
                                </th>
                                <th scope="col">
                                    客戶名稱
                                </th>
                                <th scope="col">
                                    客戶形態
                                </th>
                                <th scope="col">
                                    品號
                                </th>
                                <th scope="col">
                                    品名
                                </th>
                                <th scope="col">
                                    序號
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <input type="hidden" id="RMAAplPage" name="RMAAplPage" value="" />
                </div>
            </div>
        </div>
    </div>
</div>
