<style type="text/css">
    .record-selector-customeraddress-modal table .actioncolumn {
        width: 50px;
    }

    .record-selector-customeraddress-modal table .ContactIdType {
        width: 150px;
    }

    .record-selector-customeraddress-modal table .ContactType {
        width: 200px;
    }

    .record-selector-customeraddress-modal table .DepartmentType {
        width: 150px;
    }

    .record-selector-customeraddress-modal table .OccupationType {
        width: 150px;
    }

    .record-selector-customeraddress-modal table .TelNoType {
        width: 150px;
    }

    .record-selector-customeraddress-modal table .FaxNoType {
        width: 150px;
    }

    .record-selector-customeraddress-modal table .EmailType {
        width: 150px;
    }

    .record-selector-customeraddress-modal table .RemarkType {
        width: 150px;
    }
</style>
<div class='modal record-selector-contact-modal' tabindex='-1' role='dialog' id="contact" aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class='modal-title'>聯絡人查詢</h4>
            </div>
            <div class='modal-body'>
                <div class="form-inline">
                    <div class="form-group">
                        <select class="form-control" style="width: 200px; display: inline;" name="addCol" id="addCol">
                            <option value="CustomerId">客戶代號</option>
                            <option value="ContactId">聯絡人代號</option>
                            <option value="Contact">聯絡人姓名</option>
                            <option value="Department">部門</option>
                            <option value="Occupation">職務</option>
                            <option value="TelNo">電話</option>
                            <option value="FaxNo">傳真</option>
                            <option value="Email">E-mail</option>
                            <option value="Remark">E-備註</option>
                        </select>

                        <select class="form-control" style="width: 100px; display: inline;" name="addCondition" id="addCondition">
                            <option value="=">=</option>
                            <option value=">">&gt;</option>
                            <option value=">=">&gt;=</option>
                            <option value="<">&lt;</option>
                            <option value="<=">&lt;=</option>
                            <option value="<>">&lt;&gt;</option>
                            <option value="like%">like%</option>
                            <option value="%like">%like</option>
                            <option value="%like%">%like%</option>
                        </select>
                        <input type="text" class="form-control" id="addconditionValue" name="addconditionValue" style="width: 200px; display: inline;" />
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" id="btnSearchContact" style="display: inline;">查詢</button>
                    </div>
                </div>
            </div>
                <div id="divContacttGrid" style="height: 500px;overflow-y: auto;">
                    <table class="table table-striped table-hover table-condensed" data-swhgajax="true" data-swhgcontainer="divContacttGrid" data-swhgcallback="">
                        <thead>
                            <tr>
                                <th scope="col">
                                    操作
                                </th>
                                <th scope="col">
                                    聯絡人代號
                                </th>
                                <th scope="col">
                                    聯絡人姓名
                                </th>
                                <th scope="col">
                                    部門
                                </th>
                                <th scope="col">
                                    職務
                                </th>
                                <th scope="col">
                                    電話
                                </th>
                                <th scope="col">
                                    傳真
                                </th>
                                <th scope="col">
                                    E-mail
                                </th>
                                <th scope="col">
                                    備註
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <input type="hidden" id="ContactPage" name="ContactPage" value="" />
                </div>
            </div>
        </div>
    </div>
</div>
