<div class='modal fade Serial-detail-modal' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'>序號批次輸入</h4>
            </div>
            <div class='modal-body'>
                <div class="col-sm-22">
                    <textarea id="id_Serial" class="form-control" name="Serial" rows="4" cols="40"></textarea>
                </div>
            <button type='button' class='btn btn-default' onclick="SerialTrue()">確定</button>
            <button type='button' class='btn btn-default' onclick="SerialFalse()">取消</button>
            </div>
            <div class='modal-footer'>
            </div>
        </div>
    </div>
</div>