@using System.Web.Mvc.Ajax
@using (Ajax.BeginForm("Index", "Main", new AjaxOptions { HttpMethod = "POST" }))
{
    <div class='modal fade advanced-search-modal' tabindex='-1' role='dialog' aria-hidden='true'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h4 class='modal-title'>進階查詢</h4>
                </div>
                <div class='modal-body'>
                    <p class="text-right">
                        <a class="btn btn-link" href="#" role="button" onclick="addCondition()">新增條件</a>
                    </p>
                    <div id="search-condition-area" class="form-horizontal">
                        <div class="form-group baseRow" style="display: none;">
                            <div class="col-sm-24">
                                <select class="form-control condition" style="width: 200px; display: inline;" name="slCol" id="condition-keys"></select>
                                <select class="form-control operator" style="width: 100px; display: inline;" name="slCondition">
                                    <option value="=">=</option>
                                    <option value=">">&gt;</option>
                                    <option value=">=">&gt;=</option>
                                    <option value="<">&lt;</option>
                                    <option value="<=">&lt;=</option>
                                    <option value="<>"><></option>
                                    <option value="like%">like%</option>
                                    <option value="%like">%like</option>
                                    <option value="%like%">%like%</option>
                                </select>
                                <input type="text" class="form-control" name="conditionValue" style="width: 200px; display: inline;" />
                                <a class="btn btn-link" href="#" onclick="removeCondition(this)"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='submit' class='btn btn-default' id="btnSearchDetail" name="action" value="Advanced">查詢</button>
                    <button type='reset' class='btn btn-default' onclick="ClearCondition() ">重置</button>
                </div>
            </div>
        </div>
    </div>
}