<script type="text/javascript">
    function checkAddSure() {
        if (document.getElementById("id_Add_sureConfirmDate").value == "") {
            alert("请選擇確認接受日期");
            return;
        }
        if (document.getElementById("addAgin").value == "1") {
            $.ajax({
                url: '@Url.Action("Add", "Main")',
                data: $('#from-RMAApl').serialize(),
                type: 'POST',
                async: false,
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    var strData = data.split('-');
                    if (strData[0] == "NO") {
                        $("#msg_information").html(strData[1]);
                        $('.msg-modal-lg').modal();
                    } else {
                         window.location.href = '@Url.Action("CUR", "Main")';
                    }

                }
            })
        }else
        {
            $.ajax({
                url: '@Url.Action("Add", "Main")',
                data: $('#from-RMAApl').serialize(),
                type: 'POST',
                async: false,
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    var strData = data.split('-');
                    if (strData[0] == "NO") {
                        $("#msg_information").html(strData[1]);
                        $('.msg-modal-lg').modal();
                    } else {
                        window.location.href = '@Url.Action("Index", "Main")';
                    }

                }
            })
        }
    }
</script>
<div class='modal fade Add-sure-modal' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'>確認</h4>
            </div>
                <div class='modal-body'>
                    <div class="form-group">
                        <label for="id_sureConfirmDate" class="control-label">確認接受日期</label>
                        <div class="col-sm-8 date" data-date="" data-date-format="yyyy/mm/dd" data-link-field="id_ConfirmDate" data-link-format="yyyy-mm-dd">
                            <div class="input-group">
                                <input type="text" class="form-control" id="id_Add_sureConfirmDate" name="Add_sureConfirmDate" readonly="readonly"/>
                                <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="addAgin" name="addAgin" readonly />
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type="button" class="btn btn-default" name="action" value="btnAllot" onclick="checkAddSure()">確定</button>
                    <button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>
                </div>
        </div>
    </div>
</div>